body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: Inter;
}
#hero{
    background: black;
    color: white;
    text-align: center;
}

#hero h1{
    padding-top: 88px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
}
#hero h2{
    color: #C5C5C5;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
#hero .next-particle{
    width: 100%;
    min-height: 640px;
    max-height: 1080;
    z-index: -100;
}

#hero canvas{
    position: absolute;
    top: 0;
    left: 0;
}

