body{
    margin: 0 !important;
    padding: 0 !important;
}
#hero{
    background: black;
    color: white;
}
#hero h2{
    color: C5C5C5;
}
#hero .next-particle{
    width: 100%;
    min-height: 640px;
    max-height: 1080;
}

#hero .content{
    padding-top: 96px;
    text-align: center;
    height: 720px;
    width: 100%;
    z-index: 500;
    position: absolute;
}